// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
//@import 'bootstrap/scss/bootstrap';
@import "dashboard/bootstrap.min.css";
@import "toastr/build/toastr.min.css";
@import "@majidh1/jalalidatepicker/dist/jalalidatepicker.min.css";
@import "/node_modules/select2/dist/css/select2.css";
@import "vazirmatn/Vazirmatn-font-face.css";
@import "./dashboard/header-colors.css";
@import "./dashboard/light-theme.css";
@import "./dashboard/bootstrap-extended.css";
@import "./dashboard/pace.min.css";
@import "./dashboard/style.css";
@import "metismenu/dist/metisMenu.min.css";
@import "perfect-scrollbar/css/perfect-scrollbar.css";

body {
    font-family: Vazirmatn, sans-serif;
}

#app {
    width: 100vw;
    overflow: hidden;
}

.__table_wrapper {
    overflow: scroll;
}

th,
td {
    white-space: nowrap;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.select2-selection__rendered {
    line-height: 32px !important;
}

.select2-container .select2-selection--single {
    height: 36px !important;
}

.select2-selection__arrow {
    height: 35px !important;
}

@import "./dashboard.scss";
